@using KursovoiProject_ElShop.Controllers.Validation
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Slick-plugin/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/Slick-plugin/slick-theme.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" defer></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/script_main.js" defer></script>
    <title>@ViewData["Title"]</title>
</head>

<body>
    <div id="modal-placeholder">
        <div id="modDialog" class="modal fade">
            <div id="dialogContent" class="modal-dialog"></div>
        </div>
    </div>

    <header class="header">
        <div class="navbar conte">
            <a href="/" class="logotip" style="width: 150px;">
                <img src="~/images/logo.png" style="width: 90%; height: 100%;"/>
            </a>
            <div class="poisk">
                <form class="form-poisk" asp-controller="Categori" asp-action="SearchResult" method="get">
                    <input class="input-poisk" name="search" type="text" placeholder="Введите название товара">
                    <button class="btn-poisk" type="submit"></button>
                </form>
            </div>
@*            <button class="dostavka">
                Доставка
            </button>
            <a href="" class="vopros">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16 1C7.72913 1 1 7.72913 1 16C1 24.2709 7.72913 31 16 31C24.2709 31 31 24.2709 31 16C31 7.72913 24.2709 1 16 1ZM17.172 23.7837C17.172 23.9246 17.078 24.0172 16.9385 24.0172H15.1607C15.0191 24.0172 14.9265 23.9239 14.9265 23.7837V21.7724C14.9265 21.6322 15.0198 21.5389 15.1607 21.5389H16.9385C17.0787 21.5389 17.172 21.6328 17.172 21.7724V23.7837ZM19.2296 14.8704L17.6624 17.0226C17.1948 17.6539 17.0539 17.9813 17.0539 18.7763V19.5243C17.0539 19.6646 16.9607 19.7578 16.8204 19.7578H15.2767C15.1365 19.7604 15.0433 19.6665 15.0433 19.5263V18.5676C15.0433 17.6311 15.2533 17.1407 15.7443 16.4617L17.3122 14.3096C18.13 13.1872 18.4104 12.6491 18.4104 11.8535C18.4104 10.5204 17.4752 9.67848 16.1415 9.67848C14.832 9.67848 13.99 10.4735 13.7096 11.9004C13.6861 12.0407 13.5928 12.1111 13.452 12.0876L11.9787 11.83C11.8378 11.8065 11.768 11.7133 11.7909 11.5724C12.1424 9.32696 13.7565 7.85304 16.1891 7.85304C18.7143 7.85304 20.4217 9.51348 20.4217 11.8293C20.4217 12.9524 20.0252 13.7709 19.2296 14.8704Z" fill="#C4C4C4" />
                </svg>
            </a>*@
            <div class="phones">
                <a class="telefon" href="tel:+74957752767">+7 (495) 775-27-67</a>
                <button class="phone-open">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.887 5.41425C12.2765 5.41425 12.5221 5.83148 12.3274 6.16238L8.63593 12.4341C8.44256 12.7626 7.95949 12.7596 7.76472 12.4287L4.07329 6.15701C3.87852 5.8261 4.11744 5.41425 4.50417 5.41425L11.887 5.41425Z" fill="#C62306" />
                    </svg>
                </button>
                <div id="blablabla">
                    <form role="form" action="/requestFine" autocomplete="off" method="POST">
                        <a class="second-phone" href="tel:+74959833049">+7 (495) 983-30-49</a>
                    </form>
                </div>
            </div>
            <div class="kor">
                <div class="dropdownd">
                    @if (User.Identity.IsAuthenticated == false)
                    {
                        <a asp-controller="Home" asp-action="AuthenticateUser" class="lklk" style="text-decoration: none;">
                            <div class="knopka-korzina" style="color: black; background: #F8F8F8; border: 1.5px solid #E1E1E1; box-sizing: border-box; border-radius: 5px; cursor: pointer; padding: 8px; ">
                                <svg class="korzinka" width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.1492 6.21821H15.7271L13.388 2.32797C13.1995 2.01274 12.7819 1.90527 12.4567 2.09154C12.1315 2.27424 12.0207 2.67902 12.2128 2.99425L14.1492 6.21821Z" fill="#C62306" />
                                    <path d="M8.79454 2.99425C8.983 2.67902 8.87584 2.27423 8.55065 2.09154C8.22546 1.90885 7.80789 2.01273 7.61942 2.32796L5.28027 6.22179H6.85818L8.79454 2.99425Z" fill="#C62306" />
                                    <path d="M18.3397 7.41107H2.65664C2.01735 7.41107 1.5 7.91258 1.5 8.53229V9.77531C1.5 10.395 2.01735 10.8965 2.65664 10.8965H3.01878L4.13478 16.7606C4.2752 17.4519 4.92558 18 5.60183 18H8.9572C9.25282 18 9.63714 18 10.0288 18H10.7383C11.1301 18 11.5144 18 11.81 18H15.1654C15.8416 18 16.492 17.4519 16.6324 16.7606L17.7558 10.893H18.3434C18.9827 10.893 19.5 10.3914 19.5 9.77173V8.52871C19.4963 7.91258 18.979 7.41107 18.3397 7.41107ZM7.88555 15.8005C7.88555 16.1623 7.58253 16.4346 7.23147 16.4346C6.85824 16.4346 6.5774 16.1408 6.5774 15.8005V12.2542C6.5774 11.8924 6.88041 11.6201 7.23147 11.6201C7.6047 11.6201 7.88555 11.9139 7.88555 12.2542V15.8005ZM9.9845 15.8005C9.9845 16.1623 9.68148 16.4346 9.33042 16.4346C8.9572 16.4346 8.67635 16.1408 8.67635 15.8005V12.2542C8.67635 11.8924 8.97937 11.6201 9.33042 11.6201C9.68148 11.6201 9.9845 11.9139 9.9845 12.2542V15.8005ZM12.0945 15.8005C12.0945 16.1408 11.8137 16.4346 11.4405 16.4346C11.0894 16.4346 10.7864 16.1623 10.7864 15.8005V12.2542C10.7864 11.9139 11.0894 11.6201 11.4405 11.6201C11.7915 11.6201 12.0945 11.8924 12.0945 12.2542V15.8005ZM14.1935 15.8005C14.1935 16.1408 13.9126 16.4346 13.5394 16.4346C13.1884 16.4346 12.8853 16.1623 12.8853 15.8005V12.2542C12.8853 11.9139 13.1662 11.6201 13.5394 11.6201C13.8905 11.6201 14.1935 11.8924 14.1935 12.2542V15.8005Z" fill="#C62306" />
                                </svg>
                                <p class="korzina">Корзина</p>
                                <p class="kolvo-tovarov"></p>
                            </div>
                        </a>
                    }
                    else
                    {
                        <a asp-controller="Korzina" asp-action="Index" style="text-decoration: none;">
                            <div class="knopka-korzina" style="color: black; background: #F8F8F8; border: 1.5px solid #E1E1E1; box-sizing: border-box; border-radius: 5px; cursor: pointer; padding: 8px; ">
                                <svg class="korzinka" width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.1492 6.21821H15.7271L13.388 2.32797C13.1995 2.01274 12.7819 1.90527 12.4567 2.09154C12.1315 2.27424 12.0207 2.67902 12.2128 2.99425L14.1492 6.21821Z" fill="#C62306" />
                                    <path d="M8.79454 2.99425C8.983 2.67902 8.87584 2.27423 8.55065 2.09154C8.22546 1.90885 7.80789 2.01273 7.61942 2.32796L5.28027 6.22179H6.85818L8.79454 2.99425Z" fill="#C62306" />
                                    <path d="M18.3397 7.41107H2.65664C2.01735 7.41107 1.5 7.91258 1.5 8.53229V9.77531C1.5 10.395 2.01735 10.8965 2.65664 10.8965H3.01878L4.13478 16.7606C4.2752 17.4519 4.92558 18 5.60183 18H8.9572C9.25282 18 9.63714 18 10.0288 18H10.7383C11.1301 18 11.5144 18 11.81 18H15.1654C15.8416 18 16.492 17.4519 16.6324 16.7606L17.7558 10.893H18.3434C18.9827 10.893 19.5 10.3914 19.5 9.77173V8.52871C19.4963 7.91258 18.979 7.41107 18.3397 7.41107ZM7.88555 15.8005C7.88555 16.1623 7.58253 16.4346 7.23147 16.4346C6.85824 16.4346 6.5774 16.1408 6.5774 15.8005V12.2542C6.5774 11.8924 6.88041 11.6201 7.23147 11.6201C7.6047 11.6201 7.88555 11.9139 7.88555 12.2542V15.8005ZM9.9845 15.8005C9.9845 16.1623 9.68148 16.4346 9.33042 16.4346C8.9572 16.4346 8.67635 16.1408 8.67635 15.8005V12.2542C8.67635 11.8924 8.97937 11.6201 9.33042 11.6201C9.68148 11.6201 9.9845 11.9139 9.9845 12.2542V15.8005ZM12.0945 15.8005C12.0945 16.1408 11.8137 16.4346 11.4405 16.4346C11.0894 16.4346 10.7864 16.1623 10.7864 15.8005V12.2542C10.7864 11.9139 11.0894 11.6201 11.4405 11.6201C11.7915 11.6201 12.0945 11.8924 12.0945 12.2542V15.8005ZM14.1935 15.8005C14.1935 16.1408 13.9126 16.4346 13.5394 16.4346C13.1884 16.4346 12.8853 16.1623 12.8853 15.8005V12.2542C12.8853 11.9139 13.1662 11.6201 13.5394 11.6201C13.8905 11.6201 14.1935 11.8924 14.1935 12.2542V15.8005Z" fill="#C62306" />
                                </svg>
                                <p class="korzina">Корзина</p>
                                <p class="kolvo-tovarov"></p>
                            </div>
                        </a>
                    }
                </div>
            </div>
            @if (User.Identity.IsAuthenticated == false)
            {
                <a asp-controller="Home" asp-action="AuthenticateUser" class="lklk dropbtn" style="text-decoration: none;">
                    <svg class="image-lk" width="24" height="24" viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.9998 12.6561C14.7239 12.6561 16.9325 10.0468 16.9325 6.82804C16.9325 2.36451 14.724 1 11.9998 1C9.2755 1 7.06714 2.36451 7.06714 6.82804C7.06719 10.0468 9.27555 12.6561 11.9998 12.6561Z" fill="white" />
                        <path d="M22.8924 21.2343L20.4038 15.5753C20.29 15.3164 20.09 15.1016 19.8411 14.9708L15.979 12.9413C15.8938 12.8966 15.7907 12.9053 15.7141 12.9638C14.6218 13.7978 13.3374 14.2386 12 14.2386C10.6625 14.2386 9.37821 13.7978 8.28586 12.9638C8.20908 12.9053 8.10595 12.8966 8.02078 12.9413L4.1589 14.9708C3.9099 15.1016 3.71015 15.3162 3.59622 15.5753L1.10762 21.2343C0.936048 21.6245 0.971212 22.0708 1.20172 22.4287C1.43211 22.7865 1.82204 23 2.24481 23H21.7551C22.1779 23 22.5679 22.7864 22.7983 22.4286C23.0287 22.0708 23.064 21.6243 22.8924 21.2343Z" fill="white" />
                    </svg>
                </a>
            }
            else
            {
                <div class="dropdownd">
                    <div class="dropdowns">
                        <a @*asp-controller="Home" asp-action="AuthenticateUser"*@ class="dropbtn lklk22" id="lklk2" style="text-decoration: none;">
                            <svg class="image-lk" width="24" height="24" viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.9998 12.6561C14.7239 12.6561 16.9325 10.0468 16.9325 6.82804C16.9325 2.36451 14.724 1 11.9998 1C9.2755 1 7.06714 2.36451 7.06714 6.82804C7.06719 10.0468 9.27555 12.6561 11.9998 12.6561Z" fill="white" />
                                <path d="M22.8924 21.2343L20.4038 15.5753C20.29 15.3164 20.09 15.1016 19.8411 14.9708L15.979 12.9413C15.8938 12.8966 15.7907 12.9053 15.7141 12.9638C14.6218 13.7978 13.3374 14.2386 12 14.2386C10.6625 14.2386 9.37821 13.7978 8.28586 12.9638C8.20908 12.9053 8.10595 12.8966 8.02078 12.9413L4.1589 14.9708C3.9099 15.1016 3.71015 15.3162 3.59622 15.5753L1.10762 21.2343C0.936048 21.6245 0.971212 22.0708 1.20172 22.4287C1.43211 22.7865 1.82204 23 2.24481 23H21.7551C22.1779 23 22.5679 22.7864 22.7983 22.4286C23.0287 22.0708 23.064 21.6243 22.8924 21.2343Z" fill="white" />
                            </svg>
                        </a>
                    </div>
                    <div id="myDropdown" class="dropdown-content">
                        <div class="lk-f">
                            <div class="user-lk">
                                <svg class="img-lkk" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.99951 8.4772C9.98067 8.4772 11.5869 6.5795 11.5869 4.23858C11.5869 0.992372 9.98075 0 7.99951 0C6.01819 0 4.41211 0.992372 4.41211 4.23858C4.41215 6.5795 6.01823 8.4772 7.99951 8.4772Z" fill="white" />
                                    <path d="M15.9218 14.7159L14.1119 10.6002C14.0291 10.4119 13.8837 10.2557 13.7026 10.1606L10.8938 8.68456C10.8319 8.65208 10.7569 8.65839 10.7012 8.70094C9.90674 9.3075 8.97266 9.62811 8.00003 9.62811C7.02724 9.62811 6.09324 9.3075 5.29881 8.70094C5.24297 8.65839 5.16797 8.65208 5.10602 8.68456L2.29738 10.1606C2.11629 10.2557 1.97102 10.4118 1.88816 10.6002L0.0782702 14.7159C-0.0465105 14.9996 -0.0209365 15.3243 0.146702 15.5845C0.314263 15.8447 0.597845 16 0.905319 16H15.0946C15.4021 16 15.6858 15.8446 15.8533 15.5845C16.0209 15.3243 16.0465 14.9995 15.9218 14.7159Z" fill="white" />
                                </svg>
                                @{
                                    string g = User.Identity.Name;
                                    g = g.Substring(g.IndexOf(' ') + 1);
                                    <p class="fio-pok">
                                        @g
                                    </p>
                                }
                            </div>
                            <div class="user-lk2">
                                <a class="ssilka-lk" asp-action="MyProfile" asp-controller="Home">Личный кабинет</a>
                                <a class="ssilka-lk" asp-action="MyOrders" asp-controller="Home">Мои заказы</a>
                                @if (User.IsInRole("Рекламщик"))
                                {
                                    <a class="ssilka-lk" asp-controller="AddsSites" asp-action="Index">Рекламные блоки сайта</a>
                                }
                                <a class="ssilka-lk ssred" asp-controller="Home" asp-action="Logout">Выход</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </header>
    <header class="header2">
        <div class="nv conte">
            <div class="navbar-nav">
                <menu id="nav_bar_menu" class="navbar-menu">
                    <li class="navbar-item"><a class="navbar-link" asp-controller="Categori" asp-action="Index">Все категории</a></li>
                </menu>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="podval footer navbar-fixed-bottom">
        <div class="conte foot_cont">
            <div class="foot-block">
                <h4><a class="">Нужна помощь?</a></h4>
                <menu class="foot-menu">
                    <li>
                        <a class="li-foot"></a>
                    </li>
                </menu>
            </div>
            <div class="foot-block">
                <h4><a class="">Новости и Акции</a></h4>
                <menu class="foot-menu">
                    <li>
                        <a class="li-foot"></a>
                    </li>
                </menu>
            </div>
            <div class="foot-block">
                <div class="two-columns">
                    <div class="foot-col">
                        <h4><a class="">О магазине</a></h4>
                        <menu class="foot-menu">
                            <li>
                                <a class="li-foot"></a>
                            </li>
                        </menu>
                    </div>
                    <div class="foot-contacts">
                        <div class="foot-contacts-item">
                            <a class="fci-btn">Почему мы? Мы лучшие!</a>
                        </div>
                        <div class="foot-contacts-item">
                            <a href="mailto:opt@mpt.ru" class="ftct-email">
                                <svg class="icon-mail" viewBox="0 0 22 21">
                                    <path d="M5.365 8.753c-1.2-.816-1.92-1.306-2.158-1.472-.435-.289-.845-.686-1.23-1.192-.387-.506-.58-.976-.58-1.41 0-.537.146-.984.437-1.342.291-.358.707-.537 1.247-.537h15.49c.185 0 .36.027.524.08.242.078.462.213.66.405.333.324.5.713.5 1.167 0 .544-.172 1.064-.516 1.56a4.958 4.958 0 0 1-1.283 1.27l-4.925 3.355c-.07.048-.22.153-.447.315-.229.162-.418.293-.569.393-.15.1-.333.211-.547.335-.099.057-.196.108-.29.152a2.707 2.707 0 0 1-.315.127 1.7 1.7 0 0 1-.526.093h-.021c-.058 0-.118-.005-.18-.013a1.902 1.902 0 0 1-.347-.08 3.202 3.202 0 0 1-.605-.279 10.87 10.87 0 0 1-.547-.335c-.15-.1-.34-.23-.568-.393a52.283 52.283 0 0 0-.447-.315 909.484 909.484 0 0 0-2.757-1.884z"></path>
                                    <path d="M13.962 11.948c1.192-.846 2.94-2.034 5.24-3.562.4-.268.751-.568 1.053-.898v8.198c0 .455-.165.843-.495 1.167-.33.324-.726.485-1.189.485H3.081c-.463 0-.86-.161-1.19-.485a1.576 1.576 0 0 1-.494-1.167V7.488c.309.337.663.637 1.063.898 1.28.854 2.358 1.579 3.234 2.175.861.587 1.526 1.05 1.996 1.387.4.29.724.515.973.677.25.162.58.327.995.495.414.17.8.253 1.157.253h.022c.357 0 .743-.084 1.157-.253a6.06 6.06 0 0 0 .995-.495c.126-.082.273-.181.439-.297.16-.11.338-.238.534-.38z"><
                                </svg> opt@mpt.ru
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>
      const ul = document.getElementById('nav_bar_menu');
      const list = document.createDocumentFragment();
      const url = "@(BaseAddresse.Address)api/ViewMainCategoris";

      fetch(url)
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          let authors = data;
          authors.map(function(author) {
            let li = document.createElement('li');
            let name = document.createElement('a');
            li.classList.add("navbar-item");
            name.classList.add("navbar-link");
            name.href = "@Convert.ToString(BaseAddresse.Address)Categori/TovariCategory?IDCategory="+author.idCategori;
            name.innerHTML = `${author.nameCategori}`;
            li.appendChild(name);
            list.appendChild(li);
          });
          ul.appendChild(list);
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/Slick-plugin/slick.min.js"></script>
    <script type="text/javascript" src="~/js/script.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
