@model OrderAboutManageOrders
@{
    ViewData["Title"] = "Заказ № "+Model.ID_Order;
}

<script src="~/lib/jQuery-Mask-Plugin-master/dist/jquery.mask.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js" defer></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<main class="content-main">
    <div class="con-man">
        <div class="main-div-left">
            <main class="main">
                <header class="page-header">
                    <h1>Заказ № @Model.ID_Order</h1>
                </header>
                        <div class="basket">
                            <div class="basket__row basket__row_header">
                                <div class="basket__col basket__col_image-header"></div>
                                <div class="basket__col basket__col_name">Наименование товара</div>
                                <div class="basket__col basket__col_quanity-header">Количество</div>
                                <div class="basket__col basket__col_price-header">Цена</div>
                                <div class="basket__col basket__col_actions-header">Действия</div>
                            </div>
                            <div id="panel_cart"></div> @*Состав заказа*@
                            <div class="card checkout" style="border-radius: 0px; box-shadow: none;">
                                <div class="checkout__title">
                                    <div class="checkout__step">2</div>
                                    Способ получения
                                </div>
                                <div id="deliveryContainer">
                                    <div class="profiles-form checkout__profile">
                                        <div class="profiles-form__section">
                                            <div class="profiles-form__title">Филиал</div>
                                                <div class="profiles-form__block" style="width:100%;">
                                                    <div class="form-group profiles-form__input" style="display: flex; width:100%;">
                                                        <label for="gr_@Model.Filial_ID"><b>@Model.FilialName</b> (<a href="https://yandex.ru/maps/213/moscow/search/@Model.FilialAddress" target="_blank">@Model.FilialAddress</a>)</label>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card checkout" style="border-radius: 0px; box-shadow: none;">
                                <div class="checkout__title">
                                    <div class="checkout__step">3</div>
                                    Контактная информация
                                </div>
                                <div class="profiles-form checkout__profile" id="contactInformation"></div> @*Контактная информация*@
                            </div>
                            <div class="basket__row basket__row_footer">
                                <div class="basket__col basket__col_footer">
                                    <div class="basket-submit">
                                        <input style="background-color: #c62306; border-color: #c62306; color: #fff;" class="btn btn_primary basket-submit__btn" type="submit" value="Оформить заказ">
                                    </div>
                                </div>
                            </div>
                        </div>
                    <script>
                        //$("#telnam").mask('+7(999)999-99-99');
                        //var urls = '@Url.Action("GetCartTovari", "Korzina")';
                        //$('#panel_cart').load(urls);
                    </script>
            </main>
        </div>
    </div>
</main>

<link rel="stylesheet" href="~/css/stylekorzina.css">
<script>
    //var urls = '@Url.Action("GetCart", "Korzina")';
    //$('#panel').load(urls);
</script>

