<link rel="stylesheet" href="~/css/styletovarilist.css">
@model TovariCategoryModel
@{
    ViewData["Title"] = Model.NameCategory;
}
<main class="content-main">
    <div class="con-man">
        <div class="main-div-left">
            <div id="panel"></div>
        </div>
        <div class="notmain-div-right">
            <div class="filter">
                <div class="filter__title">Выбор по цене:</div>
                <div class="filter-range-preview">
				    <span class="filter-range-preview__text">от</span>
				    <input id="min_price" name="min" asp-for="FilterViewModel.Min" class="filter-range-preview__input" type="number" name="price_min">
				    <span class="filter-range-preview__text">до</span>
				    <input id="max_price" name="max" asp-for="FilterViewModel.Max" class="filter-range-preview__input" type="number" name="price_max">
				    <span class="filter-range-preview__text">₽</span>
			    </div>
                <div class="filter__title">Сортировать по:</div>
                <div class="filter-range-preview">
                    <select id="typesort" name="typesort" asp-for="FilterViewModel.TypeSort" style="width: 100%;">
                      <option value="0">По умолчанию</option>
                      <option value="1">По возрастнаию цены</option>
                      <option value="2">По убыванию цены</option>
                      <option value="3">По наименованию</option>
                    </select>
			    </div>
                <div class="filter__title">Производитель:</div>
                <div class="filter-range-preview">
                    <select id="maufacture" style="width: 100%;" name="manufacte" asp-items="Model.FilterViewModel.Manufacturies"></select>
			    </div>
                <button id="btn_filters" style="margin-top: 10px;" class="btn btn_outline btn_primary filter__submit">Применить</button>
            </div>
            <div class="right-image">
                @if (Model.Right1Adds != null)
                {
                    <div class="slide2">
                        <button type="button" class="sl-pw prew2">
                            <svg class="icon-strelka" viewBox="0 0 25 25">
                                <path d="M17.38,24.8a.5.5,0,0,0,.68,0l2.44-2.26a.5.5,0,0,0,0-.71l0,0-9.65-8.94a.5.5,0,0,1,0-.71l0,0L20.5,3.19a.48.48,0,0,0,0-.7l0,0L18.06.2a.5.5,0,0,0-.68,0L4.5,12.13a.5.5,0,0,0,0,.71l0,0L17.38,24.8Z"></path>
                            </svg>
                        </button>
                        <div class="slider adds2">
                            @foreach (var a in Model.Right1Adds)
                            {
                                <div>
                                    <a href="@a.Href"><img style="width: 100%;" src="@a.FtppathImage" alt=""></a>
                                </div>
                            }
                        </div>
                        <button type="button" class="sl-nx next2">
                            <svg class="icon-strelka" viewBox="0 0 25 25">
                                <path d="M7.62,24.8,20.5,12.87l0,0a.5.5,0,0,0,0-.71L7.62.2a.5.5,0,0,0-.68,0L4.5,2.46l0,0a.48.48,0,0,0,0,.7l9.65,8.94,0,0a.5.5,0,0,1,0,.71L4.5,21.81l0,0a.5.5,0,0,0,0,.71L6.94,24.8a.5.5,0,0,0,.68,0Z"></path>
                            </svg>
                        </button>
                    </div>
                }
            </div>
            <div class="work-right">
                    @if(Model.Right2Adds != null)
                    {
                        <div class="slide2">
                            <button type="button" class="sl-pw prew3">
                                <svg class="icon-strelka" viewBox="0 0 25 25">
                                    <path d="M17.38,24.8a.5.5,0,0,0,.68,0l2.44-2.26a.5.5,0,0,0,0-.71l0,0-9.65-8.94a.5.5,0,0,1,0-.71l0,0L20.5,3.19a.48.48,0,0,0,0-.7l0,0L18.06.2a.5.5,0,0,0-.68,0L4.5,12.13a.5.5,0,0,0,0,.71l0,0L17.38,24.8Z"></path>
                                </svg>
                            </button>
                            <div class="slider adds3">
                                @foreach(var a in Model.Right2Adds)
                                {
                                    <div>
                                        <a href="@a.Href"><img style="width: 100%;" src="@a.FtppathImage" alt=""></a>
                                    </div>
                                }
                            </div>
                            <button type="button" class="sl-nx next3">
                                <svg class="icon-strelka" viewBox="0 0 25 25">
                                    <path d="M7.62,24.8,20.5,12.87l0,0a.5.5,0,0,0,0-.71L7.62.2a.5.5,0,0,0-.68,0L4.5,2.46l0,0a.48.48,0,0,0,0,.7l9.65,8.94,0,0a.5.5,0,0,1,0,.71L4.5,21.81l0,0a.5.5,0,0,0,0,.71L6.94,24.8a.5.5,0,0,0,.68,0Z"></path>
                                </svg>
                            </button>
                        </div>
                    }
            </div>
        </div>
    </div>
    @if (Model.Manufacture_id == null)
    {
        <script type="text/javascript">
            var urls = '@Url.Action("GetSpisokTovari", "Categori", new {IDCategory=Model.IDCategory})';
            $('#panel').load(urls);
            $("#btn_filters").click(function(){
                var urls = '@Url.Action("GetSpisokTovari", "Categori")?IDCategory=' + @Model.IDCategory+'&min='+$("#min_price").val()+'&max='+$("#max_price").val()+'&typesort='+$("#typesort").val()+'&manufacte='+$("#maufacture").val();
                $('#panel').load(urls);
            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            var urls = '@Url.Action("GetSpisokTovari", "Categori")?IDCategory=@Model.IDCategory&manufacte=@Model.Manufacture_id';
            $('#panel').load(urls);
            $("#btn_filters").click(function(){
                var urls = '@Url.Action("GetSpisokTovari", "Categori")?IDCategory=' + @Model.IDCategory+'&min='+$("#min_price").val()+'&max='+$("#max_price").val()+'&typesort='+$("#typesort").val()+'&manufacte='+$("#maufacture").val();
                $('#panel').load(urls);
            });
        </script>
    }
</main>
