@model AddEditTovar;
<div class="modal-content">
    @Html.AntiForgeryToken()
    <link rel="stylesheet" type="text/css" href="~/css/style_list.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styleInputFile.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous">
    <script src="~/lib/jQuery-Mask-Plugin-master/dist/jquery.mask.js"></script>
    <script src="~/lib/selectize.js-master/dist/js/selectize.js"></script>
    <link href="~/lib/selectize.js-master/dist/css/selectize.default.css" rel="stylesheet">
    <div class="modal-windows">
        <div class="obratnii-zvonok modal-body">
            <div class="form-edit fformms" style="padding: 30px; background-color: #fff; border-radius: 5px; box-shadow: 1px 1px 10px 0 rgb(0 0 0 / 12%); color: #696969; ">
                <div class="zvonok-title">@if (Model.ID_Tovar == 0) { <text>Добавление</text>} else{<text>Изменение</text>} товара</div>
                <form asp-action="AddEditTovarPost" asp-controller="ManageTovari" asp-route-id="@Model.ID_Tovar" method="post" class="callback-from" enctype="multipart/form-data">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div>
                        <div class="form-zap">
                            <label asp-for="@Model.Category_ID" class="required"></label>
                            <select asp-for="@Model.Category_ID" asp-items="@(new SelectList(Model.categories, nameof(Category.IdCategori), nameof(Category.NameCategori)))" class="select-state" placeholder="Выберите категорию"></select>
                            <span asp-validation-for="@Model.Category_ID" style="color: red;"></span>
                        </div>
                        <div class="form-zap">
                            <label asp-for="@Model.Proizvoditel_ID" class="required"></label>
                            <select asp-for="@Model.Proizvoditel_ID" asp-items="@(new SelectList(Model.manufactures, nameof(Manufacture.IdManufacture), nameof(Manufacture.NameManufacture)))" class="select-state" placeholder="Выберите производителя"></select>
                            <span asp-validation-for="@Model.Proizvoditel_ID" style="color: red;"></span>
                        </div>
                        <div class="form-zap">
                            <label asp-for="@Model.Name_Tovar" class="required"></label>
                            <input type="text" asp-for="@Model.Name_Tovar" class="inputs imz-in" />
                            <span asp-validation-for="@Model.Name_Tovar" style="color: red;"></span>
                        </div>
                        <div class="form-zap">
                            <label asp-for="@Model.Cost" class="required"></label>
                            <input type="text" asp-for="@Model.Cost" type="number" class="inputs imz-in" />
                            <span asp-validation-for="@Model.Cost" style="color: red;"></span>
                        </div>
                        <div class="form-zap">
                            <label asp-for="@Model.Description" class="required"></label>
                            <textarea style="max-width: 100%; min-width: 100%;" asp-for="@Model.Description" maxlength="1000" class="inputs imz-in" ></textarea>
                            <span asp-validation-for="@Model.Description" style="color: red;"></span>
                        </div>
                        @for(int i =0; i<Model.Nalichielist.Count(); i++)
                        {
                            <div class="form-zap">
                                <div style="display: none;">
                                    <input type="text" asp-for="@Model.Nalichielist[i].ID_Filial" type="text" class="inputs imz-in" />
                                    <input type="text" asp-for="@Model.Nalichielist[i].NameFilial" type="text" class="inputs imz-in" />
                                </div>
                                <label class="required">Наличие на складе @Model.Nalichielist[i].NameFilial</label>
                                <input type="text" asp-for="@Model.Nalichielist[i].CountInFilial" type="number" class="inputs imz-in" />
                                <span asp-validation-for="@Model.Nalichielist[i].CountInFilial" style="color: red;"></span>
                            </div>
                        }
                    </div>
                    <p style="font-style: italic;">Картинку товара можно после добавления товара</p>
                </form>
                <div class="btn-center">
                    <input class="sbm-zvonok" id="subbtnff" type="button" value="@if (Model.ID_Tovar == 0) { <text>Добавить</text>} else{<text>Изменить</text>}" />
                </div>
                <div class="btn-center">
                    <button class="sbm-zvonok otm" style="background-color: #c4c4c4; margin-top: 15px; color: White;" onclick='$(".modal-content").remove();'>Отмена</button>
                </div>
                    <script>
                        $("#subbtnff").click(function (e) {
                            var placeholderElement = $('.modal');
                            var form = $(this).parents('.modal').find('form');
                            var actionUrl = form.attr('action');
                            var dataToSend = form.serialize();

                            $.post(actionUrl, dataToSend).done(function (data) {
                                var newBody = $('.modal-body', data);
                                placeholderElement.find('.modal-body').replaceWith(newBody);
                                var isValid = newBody.find('[name="IsValid"]').val() == 'True';
                                if (newBody.find('[name="IsValid"]').val() == undefined || newBody.find('[name="IsValid"]').val() == 'True') {
                                    $(".modal-content").remove();
                                    var urls = '@Url.Action("GetAllTovars", "ManageTovari")?search=' + $("#searchf").val() +'&typesort='+$("#typesort").val()+'&category='+$("#category").val()+'&proizvoditel='+$("#proizvoditel").val()+'&visibal='+$("#visibal").val();
                                    $('#panel').load(urls);
                                }
                            });
                        });
                        $(document).ready(function(){
	                        $('.select-state').selectize();
                        });
                </script>
            </div>
        </div>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" defer></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" defer></script>
    </div>
</div>