@model IndexManageFilials;
<link rel="stylesheet" type="text/css" href="~/css/style_list.css" />
<link rel="stylesheet" type="text/css" href="~/css/style_table.css" />
@addTagHelper *, KursovoiProject_ElShop  
<script type="text/javascript" src="~/js/script_list.js" defer></script>    
    <div class="table-responsive custom-table-responsive" style="padding-bottom: 20px;">
            <table class="table custom-table" style="width: 100%; min-width: 0px;">
                <thead>
                    <tr>
                        <th scope="col">Наименование филиала</th>
                        <th scope="col">Адрес филиала</th>
                        <th scope="col">Статус работы</th>
                        <th scope="col">Действия</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.filials)
                    {
                    <tr>
                        <td>@item.NameFilial</td>
                        <td><a target="_blank" href="https://yandex.ru/maps/213/moscow/search/@item.AddressFilial"><p style="line-height:0;">@item.AddressFilial</p></a></td>
                        @if (item.Availeble == true)
                        {
                            <td style="color: green;">Работает</td>
                        }
                        @if (item.Availeble == false)
                        {
                            <td style="color: red;">Закрыт</td>
                        }
                        <td>
                            <div onclick="editFilial('@item.IdFilial')" style="margin-bottom:10px; cursor:pointer; text-decoration: none; margin-right: 15px;">
                                <svg enable-background="new 0 0 24 24" height="25" viewBox="0 0 24 24" width="25" style="fill: #C62306;" xmlns="http://www.w3.org/2000/svg"><path d="m19 12c-.553 0-1 .448-1 1v8c0 .551-.448 1-1 1h-14c-.552 0-1-.449-1-1v-14c0-.551.448-1 1-1h8c.553 0 1-.448 1-1s-.447-1-1-1h-8c-1.654 0-3 1.346-3 3v14c0 1.654 1.346 3 3 3h14c1.654 0 3-1.346 3-3v-8c0-.553-.447-1-1-1z" /><path d="m9.376 11.089c-.07.07-.117.159-.137.255l-.707 3.536c-.033.164.019.333.137.452.095.095.223.146.354.146.032 0 .065-.003.098-.01l3.535-.707c.098-.02.187-.067.256-.137l7.912-7.912-3.535-3.535z" /><path d="m23.268.732c-.975-.975-2.561-.975-3.535 0l-1.384 1.384 3.535 3.535 1.384-1.384c.472-.471.732-1.099.732-1.767s-.26-1.296-.732-1.768z" /></svg>
                            </div>
                            @if(item.Availeble == true)
                            {
                                <div onclick="closeFilial('@item.IdFilial')" style="cursor:pointer; text-decoration: none; margin-right: 15px;">
                                    <svg height="25" width="25" style="fill: #C62306;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                        <g>
	                                        <g>
		                                        <g>
			                                        <path d="M311.681,285.248c8.806,2.898,19.314,4.352,31.519,4.352c14.411,0,24.64-2.825,30.695-8.479     c6.054-5.657,9.079-13.834,9.079-24.542c0-9.006-1.775-15.585-5.325-19.735c-3.554-4.153-10.236-7.581-20.039-10.282     l-13.209-3.302c-5.202-1.302-8.679-3.025-10.429-5.179c-1.753-2.148-2.629-4.825-2.629-8.029c0-4.102,1.154-7.279,3.454-9.532     c2.3-2.252,6.454-3.377,12.457-3.377c7.206,0,14.358,0.652,21.462,1.954c2.202,0.498,3.954,0.75,5.252,0.75     c2.002,0,3.252-1.154,3.755-3.454c1.198-4.402,1.802-7.353,1.802-8.854c0-2.404-1.202-3.954-3.602-4.654     c-6.606-2.1-15.712-3.15-27.318-3.15c-13.707,0-23.563,2.8-29.567,8.402c-6.002,5.604-9.004,13.561-9.004,23.862     c0,8.608,1.973,15.312,5.927,20.114c3.954,4.804,10.079,8.206,18.385,10.208l13.056,3.15c5.906,1.502,9.735,3.229,11.485,5.179     c1.748,1.952,2.625,4.829,2.625,8.631c0,4.002-1.225,7.179-3.677,9.527c-2.452,2.352-7.178,3.53-14.183,3.53     c-8.406,0-16.21-1.098-23.417-3.302c-2.698-0.8-4.553-1.204-5.55-1.204c-2.4,0-4.002,1.302-4.804,3.906     c-1.298,4.907-1.95,7.852-1.95,8.854C307.931,282.896,309.181,284.444,311.681,285.248z"/>
			                                        <path d="M216.225,278.417c3.902,4.153,8.529,7.056,13.886,8.706c5.353,1.654,12.031,2.477,20.035,2.477     c8.206,0,15.06-0.85,20.564-2.553c5.502-1.7,10.254-4.625,14.256-8.779c4.002-4.155,6.907-9.856,8.706-17.11     c1.802-7.257,2.7-16.335,2.7-27.244c0-9.206-0.625-17.008-1.875-23.41c-1.25-6.406-2.977-11.611-5.177-15.613     c-2.201-4.002-5.252-7.127-9.158-9.379c-3.902-2.252-8.052-3.777-12.457-4.579c-4.402-0.798-9.856-1.198-16.358-1.198     c-7.106,0-13.261,0.746-18.465,2.247c-5.2,1.502-10.004,4.155-14.404,7.956c-4.406,3.802-7.731,9.383-9.983,16.735     c-2.252,7.353-3.377,16.485-3.377,27.392c0,10.909,0.877,19.987,2.627,27.239C209.498,268.562,212.325,274.267,216.225,278.417z      M229.434,210.877c2-5.552,4.652-9.254,7.956-11.106c3.302-1.85,7.756-2.779,13.358-2.779c6.202,0,10.929,0.905,14.181,2.704     c3.254,1.802,5.702,5.377,7.356,10.734c1.648,5.353,2.477,13.281,2.477,23.786c0,8.109-0.525,14.735-1.579,19.891     c-1.05,5.152-2.7,9.027-4.953,11.627c-2.252,2.604-4.727,4.354-7.431,5.257c-2.7,0.898-6.15,1.35-10.356,1.35     c-4.201,0-7.677-0.473-10.429-1.423c-2.752-0.956-5.204-2.779-7.353-5.484c-2.153-2.698-3.729-6.601-4.732-11.705     c-0.998-5.104-1.502-11.659-1.502-19.663C226.429,224.162,227.434,216.433,229.434,210.877z"/>
			                                        <path d="M83.401,289.6c12.604,0,23.158-1.5,31.667-4.5c2.401-0.902,3.603-2.252,3.603-4.054c0-2.5-0.75-5.803-2.252-9.908     c-0.5-1.398-1.45-2.1-2.852-2.1c-1.198,0-2.852,0.298-4.953,0.902c-6.806,1.602-13.408,2.4-19.814,2.4     c-9.705,0-16.459-2.953-20.26-8.854s-5.702-15.712-5.702-29.419c0-13.606,1.9-23.189,5.702-28.741     c3.802-5.554,10.857-8.334,21.165-8.334c6.602,0,12.057,0.404,16.358,1.202c2.3,0.5,4.002,0.752,5.104,0.752     c1.602,0,2.601-0.652,2.997-1.954c1.502-3.702,2.254-7.401,2.254-11.106c0-1.996-1.25-3.298-3.75-3.902     c-5.604-1.502-14.011-2.247-25.217-2.247c-16.911,0-28.789,4.375-35.648,13.134c-6.852,8.754-10.282,23.237-10.282,43.45     c0,19.611,3.502,33.396,10.507,41.35C59.034,285.621,69.49,289.6,83.401,289.6z"/>
			                                        <path d="M148.688,287.648h46.979c2.8,0,4.202-1.198,4.202-3.602V273.69c0-2.7-1.402-4.05-4.202-4.05h-36.47     c-3.702,0-5.556-1.852-5.556-5.556v-78.198c0-2.9-1.25-4.348-3.75-4.348h-12.907c-2.704,0-4.054,1.5-4.054,4.5v86.302     C132.929,282.544,138.181,287.648,148.688,287.648z"/>
			                                        <path d="M418.697,287.648h47.578c2.804,0,4.206-1.198,4.206-3.602V273.69c0-2.7-1.402-4.05-4.206-4.05h-37.221     c-2.102,0-3.576-0.452-4.427-1.355c-0.852-0.898-1.277-2.4-1.277-4.5V241.87h36.623c2.804,0,4.202-1.198,4.202-3.602v-10.505     c0-2.704-1.398-4.054-4.202-4.054h-36.623v-18.461c0-3.698,1.602-5.552,4.804-5.552h35.573c2.8,0,4.202-1.15,4.202-3.45v-10.509     c0-2.7-1.402-4.054-4.202-4.054h-45.029c-10.706,0-16.06,5.504-16.06,16.511v73.396c0,5.802,1.327,9.93,3.975,12.381     C409.265,286.423,413.297,287.648,418.697,287.648z"/>
			                                        <path d="M501.333,106.669h-37.742c3.642-6.282,5.74-13.565,5.74-21.333c0-23.527-19.139-42.669-42.662-42.669     c-23.527,0-42.667,19.141-42.667,42.669c0,7.769,2.098,15.052,5.74,21.333H122.26c3.642-6.282,5.74-13.565,5.74-21.333     c0-23.527-19.141-42.669-42.667-42.669c-23.527,0-42.669,19.141-42.669,42.669c0,7.769,2.098,15.052,5.742,21.333h-37.74     C4.777,106.669,0,111.446,0,117.335V352c0,4.247,2.518,8.09,6.415,9.784l245.333,106.664c1.356,0.59,2.804,0.885,4.252,0.885     s2.898-0.295,4.254-0.885l245.333-106.664C509.481,360.09,512,356.248,512,352V117.335     C512,111.445,507.225,106.669,501.333,106.669z M426.669,64c11.76,0,21.329,9.571,21.329,21.335     c0,11.764-9.569,21.333-21.329,21.333c-11.764,0-21.333-9.569-21.333-21.333C405.336,73.571,414.905,64,426.669,64z M85.333,64     c11.762,0,21.333,9.571,21.333,21.335c0,11.764-9.571,21.333-21.333,21.333c-11.764,0-21.335-9.569-21.335-21.333     C63.998,73.571,73.569,64,85.333,64z M490.667,345.006L256,447.035L21.333,345.006V128.002h469.333V345.006z"/>
			                                        <path d="M115.438,351.029c-2.348,5.402,0.127,11.685,5.53,14.035l130.781,56.863c1.356,0.59,2.804,0.883,4.252,0.883     s2.898-0.293,4.254-0.883l93.587-40.691c5.402-2.35,7.879-8.634,5.53-14.035c-2.35-5.405-8.64-7.88-14.035-5.531L256,400.512     L129.473,345.5C124.073,343.152,117.788,345.627,115.438,351.029z"/>
			                                        <path d="M371.375,361.661c1.675,4.158,5.672,6.684,9.895,6.684c1.329,0,2.68-0.25,3.985-0.777l5.934-2.391     c5.464-2.202,8.109-8.417,5.904-13.882c-2.202-5.466-8.418-8.108-13.878-5.905l-5.934,2.391     C371.817,349.984,369.172,356.198,371.375,361.661z"/>
		                                        </g>
	                                        </g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        </svg>
                                </div>
                            }
                            @if(item.Availeble == false)
                            {
                                <div onclick="openFilial('@item.IdFilial')" style="cursor:pointer; text-decoration: none; margin-right: 15px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="25" width="25" style="fill: #C62306;" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                        <g>
	                                        <g>
		                                        <g>
			                                        <path d="M501.333,106.666h-37.741c3.642-6.282,5.74-13.566,5.74-21.334c0-23.525-19.139-42.663-42.665-42.663     c-23.526,0-42.666,19.139-42.666,42.666c0,7.769,2.097,15.052,5.74,21.332H122.257c3.644-6.282,5.741-13.566,5.741-21.334     c0-23.525-19.14-42.663-42.668-42.663c-23.525,0-42.665,19.139-42.665,42.666c0,7.769,2.097,15.052,5.74,21.332H10.667     C4.775,106.666,0,111.442,0,117.333v234.668c0,4.246,2.518,8.09,6.414,9.782l245.332,106.665c1.356,0.59,2.805,0.884,4.253,0.884     c1.447,0,2.897-0.294,4.253-0.884l245.334-106.664c3.894-1.693,6.414-5.535,6.414-9.782V117.333     C512,111.443,507.224,106.666,501.333,106.666z M426.668,64.002c11.762,0,21.331,9.57,21.331,21.332     c0,11.762-9.569,21.332-21.331,21.332c-11.762,0-21.332-9.57-21.332-21.334C405.336,73.571,414.906,64.002,426.668,64.002z      M85.332,64.002c11.762,0,21.332,9.57,21.332,21.332c0,11.762-9.57,21.332-21.332,21.332H85.33     c-11.762,0-21.331-9.57-21.331-21.334C63.999,73.571,73.569,64.002,85.332,64.002z M490.667,345.007L255.999,447.034     L21.333,345.007V127.999h469.333V345.007z"/>
			                                        <path d="M152.629,367.204c-2.349,5.403,0.127,11.686,5.53,14.035l93.587,40.686c1.356,0.59,2.805,0.884,4.253,0.884     c1.447,0,2.897-0.294,4.253-0.884l130.783-56.858c5.403-2.349,7.878-8.633,5.53-14.035s-8.629-7.876-14.035-5.53l-126.53,55.008     l-89.334-38.836C161.264,359.326,154.979,361.801,152.629,367.204z"/>
			                                        <path d="M289.59,287.834h47.745c2.813,0,4.217-1.204,4.217-3.614v-10.393c0-2.71-1.404-4.069-4.217-4.069h-37.353     c-2.11,0-3.589-0.451-4.443-1.355c-0.854-0.904-1.28-2.409-1.28-4.518v-21.99h36.749c2.813,0,4.219-1.204,4.219-3.614v-10.545     c0-2.71-1.406-4.065-4.219-4.065H294.26v-18.526c0-3.715,1.606-5.573,4.82-5.573h35.695c2.811,0,4.219-1.155,4.219-3.467v-10.542     c0-2.71-1.408-4.067-4.219-4.067h-45.184c-10.745,0-16.115,5.523-16.115,16.57v73.65c0,5.825,1.328,9.966,3.99,12.427     C280.126,286.603,284.17,287.834,289.59,287.834z"/>
			                                        <path d="M75.097,278.572c3.917,4.166,8.558,7.079,13.932,8.735c5.373,1.658,12.075,2.485,20.109,2.485     c8.231,0,15.111-0.853,20.635-2.558c5.521-1.709,10.292-4.644,14.307-8.813c4.017-4.164,6.929-9.889,8.735-17.17     c1.807-7.279,2.713-16.391,2.713-27.334c0-9.238-0.629-17.07-1.884-23.497c-1.254-6.428-2.987-11.647-5.196-15.664     c-2.209-4.017-5.27-7.155-9.188-9.414c-3.917-2.259-8.083-3.791-12.502-4.592c-4.416-0.805-9.889-1.206-16.415-1.206     c-7.132,0-13.308,0.753-18.526,2.261c-5.222,1.504-10.042,4.164-14.459,7.982c-4.421,3.815-7.758,9.414-10.017,16.793     c-2.259,7.38-3.388,16.543-3.388,27.487c0,10.946,0.876,20.057,2.634,27.338C68.345,268.683,71.181,274.403,75.097,278.572z      M88.351,210.796c2.009-5.576,4.669-9.287,7.982-11.146c3.313-1.857,7.782-2.788,13.405-2.788c6.225,0,10.97,0.906,14.231,2.714     c3.265,1.807,5.725,5.396,7.383,10.77c1.655,5.369,2.484,13.329,2.484,23.871c0,8.131-0.527,14.783-1.582,19.956     c-1.056,5.169-2.713,9.062-4.969,11.67c-2.26,2.611-4.745,4.368-7.457,5.274c-2.71,0.902-6.174,1.355-10.393,1.355     c-4.217,0-7.707-0.478-10.467-1.43c-2.763-0.955-5.221-2.786-7.381-5.497c-2.158-2.713-3.741-6.627-4.743-11.749     c-1.004-5.122-1.506-11.697-1.506-19.731C85.339,224.123,86.343,216.367,88.351,210.796z"/>
			                                        <path d="M182.193,287.987h12.5c2.912,0,4.369-1.508,4.369-4.521v-37.503h10.243c10.443,0,18.676-0.902,24.701-2.71     c13.454-4.017,20.181-14.008,20.181-29.974c0-14.557-5.071-23.898-15.213-28.015c-5.922-2.509-16.164-3.765-30.725-3.765h-13.404     c-6.025,0-10.293,1.357-12.802,4.067c-2.511,2.713-3.766,7.181-3.766,13.407v84.492     C178.276,286.478,179.582,287.987,182.193,287.987z M199.061,203.791c0-3.313,1.456-4.972,4.369-4.972h6.475     c7.331,0,12.452,0.503,15.362,1.507c5.021,1.908,7.533,6.627,7.533,14.158c0,6.827-2.61,11.246-7.833,13.252     c-3.313,1.204-8.234,1.808-14.761,1.808h-11.146V203.791z"/>
			                                        <path d="M366.111,287.987h12.049c2.813,0,4.219-1.508,4.219-4.521c0-38.255-0.1-64.311-0.301-78.169     c4.62,11.146,15.963,35.143,34.037,71.993c2.209,4.521,4.292,7.582,6.252,9.188c1.958,1.605,5.044,2.411,9.261,2.411h4.671     c3.615,0,6.475-0.829,8.585-2.485c2.11-1.658,3.164-4.746,3.164-9.262v-90.671c0-3.413-1.356-5.121-4.067-5.121h-11.297     c-3.011,0-4.517,1.857-4.517,5.573c0,40.965,0.153,66.018,0.451,75.156c-5.119-12.45-16.214-36.148-33.283-71.089     c-1.807-3.715-3.541-6.326-5.197-7.831c-1.659-1.506-4.443-2.259-8.359-2.259h-5.723c-4.919,0-8.46,1.153-10.619,3.461     c-2.158,2.312-3.237,5.876-3.237,10.694v88.412C362.197,286.478,363.503,287.987,366.111,287.987z"/>
			                                        <path d="M134.716,347.78l-5.935-2.389c-5.461-2.201-11.678,0.446-13.878,5.911c-2.201,5.465,0.447,11.679,5.911,13.878     l5.935,2.389c1.306,0.526,2.653,0.774,3.98,0.774c4.224,0,8.224-2.527,9.898-6.686     C142.827,356.193,140.18,349.979,134.716,347.78z"/>
		                                        </g>
	                                        </g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        </svg>
                                </div>
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <page-link page-model="Model.PageViewModel" page-action="GetAllFilials"
            page-url-search="@(Model.FilterViewModel.Search)"
            page-url-typesort="@(Model.FilterViewModel.TypeSort)"
            page-url-type="@(Model.FilterViewModel.Type)"></page-link>